[req]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_ca

[req_distinguished_name]
countryName            = BR
stateOrProvinceName    = Minas Gerais
localityName           = Belo Horizonte
organizationName       = MyOrg
organizationalUnitName = dev
commonName             = site.nginx

[req_ext]
subjectAltName = @alt_names

[v3_ca]
subjectAltName = @alt_names

[alt_names]
DNS.1 = site.nginx
DNS.2 = api.nginx
DNS.3 = blue.api.nginx
DNS.4 = green.api.nginx
